<div class="col-md-12">
  <div class="jumbotron">
    <h1>Welcome!</h1>
    <p>This project allows you to create a list of contacts for your company and also the creation and manipulation of custom fields for the existing contacts. </p>
    <a href="https://github.com/luanpontolio/rd_project" target="_blank" class="btn btn-primary btn-lg">Learn more</a>
  </div>
</div>
<div class="col-md-12">
  <div class="col-md-4">
    <h2>This Project!</h2>
    <p>contains the modules:</p>
    <ol>
      <li>Athentication user</li>
      <li>Contact List</li>
      <li>Create contact fields</li>
    </ol>
  </div>
  <div class="col-md-4">
    <h2>What to do?</h2>
    <p>Create your own custom fields for your contacts.</p>
  </div>
  <div class="col-md-4">
    <h2>Specifications</h2>
    <p>This project uses the language <a href="http://rubyonrails.org" target="_blank">Ruby on Rails</a>.</p>
  </div>
</div>
