<div class="col-md-12">
  <div class="jumbotron">
    <h1>Welcome!</h1>
    <p>Este projeto permite a criação de uma lista para os Contatos em uma empresa e também a criação e manipulação de campos personalizados para os contatos existentes. </p>
    <a href="https://github.com/luanpontolio/rd_project" target="_blank" class="btn btn-primary btn-lg">Learn more</a>
  </div>
</div>
<div class="col-md-12">
  <div class="col-md-4">
    <h2>This Project!</h2>
    <p>contains the modules:</p>
    <ol>
      <li>Athentication user</li>
      <li>Contact List</li>
      <li>Create contact fields</li>
    </ol>
  </div>
  <div class="col-md-4">
    <h2>What to do?</h2>
    <p>Crie seus próprios campos personalizados e depois adicione-os aos seus contatos.</p>
  </div>
  <div class="col-md-4">
    <h2>Specifications</h2>
    <p>O projeto foi desenvolvido utilizando a linguagem <a href="http://rubyonrails.org" target="_blank">Ruby on Rails</a>.</p>
  </div>
</div>
